.logo-bg {
	display: inline-block;
    font: normal 32px 'Pacifico',cursive;
    /*background-image: url(../whIconFont/wh-logo.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 122px;
    color: white;
    text-align: center;
    line-height: 1;
}

#logoHeader {
	display: inline;
}