#bodyContainer {
    background-color: #dad9db;
    padding: $standardDistance;
    min-height: 800px;
    height: 100%;
    overflow: auto;
}

// #scrollArea {
//     height: 100%;
//     overflow: auto;
// }
.fs0 {
    font-size: 13px;
    margin-left: $standardDistance - 5;
}
.fs11 {
    font-size: 11px;
}
.fs15 {
    font-size: 15px;
}
.fs20 {
    font-size: 20px;
}
.fs30 {
    font-size: 30px;
}
.fs2 {
    font-size: 24px;
}
.fs3 {
    font-size: 32px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
    margin-right: 5px;
}
.push-right {
    flex: 1 0;
}
.pull-end {
    margin-left: auto;
    margin-right: 0;
}
.end-component {
    @include flexSetEnd;
}
.bg-white-100 {
    background-color: $bgWhite100;
}
.bg-grey-80 {
    background-color: #cccace;
}
.bg-grey-light-85 {
    //bg-85-light-grey
    background-color: #dad9db;
}
.bg-blue-dark-18 {
    background-color: #12324b;
}
.bg-blue-dark-27 {
    background-color: #184b74;
}
.bg-blue-light-60 {
    background-color: #56a0dc;
}
.bg-blue-light-70 {
    background-color: #80b8e5;
}
.bg-blue-dark-27 {
    background-color: $bgBlueDark27;
}
.bg-blue-dark-36 {
    background-color: $bgBlueDark36;
}
.bg-blue-dark-42 {
    background-color: #237eb1;
}
.clearfix {
    display: table;
    content: " ";
}
.cursor-pointer {
    cursor: pointer;
}

.letter-space-20 {
    letter-spacing: 20px;
}
.pos-rel {
    position: relative;
}
.margin-0 {
    margin: 0;
}
.margin-auto {
    margin: 0 auto;
}
.margin-top-20 {
    margin-top: 20px;
}
.padding-0 {
    padding: 0px;
}

.padding-all-20 {
    padding: 20px;
}
.color-text-white {
    color: #fff;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    &.arrow-down {
        border-top: 5px solid black;
        border-bottom: 0;
    }
}