$large: 995px;
$medHeight: 85px;
$standardDistance: 10px;

$fullWidth: 100%;

// Header
$paddingContainerH: 80px;

// Layout
$sides: right left;
$aligns: right left center;
$alignments: baseline center flex-end flex-start inherit initial;

// Button Colors
$colorLogin: #2ca4d1;   // first and second for gradient
$colorJoin: #009480;

// Buttons
$minWidthSqBtn: 4.5em;
$standPaddingBtn: 12px 0;

// Text Styles
$yellowGold: #ffd300;
$capitalizeLetter: capitalize;
$uppercaseLetter: uppercase;

// Horse Racing Box
$borderBoxGreyLight79: 1px solid #c6cacd;

// fonts 
$icon-font: 'icomoon';
$fontsStyles: normal oblique italic;
// Wrappers

// BackGround Colors
$bgBlueDark27: #184b74;
$bgBlueDark36: #018cb5;
$bgWhite100: white;

$screenWidths: (2500px, 740px) (768px, 654px) (667px, 538px) (412px, 287px) (375px,345px) (360px,248px);

$headerHorsesCategories: 'Year' 'Rating' 'Horse' 'Trained' 'Race';

$scrollTextClasses: firstText secondText thirdText fourthText;