.btn {
    @include flexSetSpace;
    border: 0;
    background-repeat: repeat-x;
    color: #fff;
    font: normal "Helvetica Neue", Arial, sans-serif;
    margin-left: $standardDistance;
    text-align: center;
    cursor: pointer;
    display: block;
    min-width: $minWidthSqBtn;
    -webkit-border-radius: $standardDistance - 6;
    -moz-border-radius: $standardDistance - 6;
    border-radius: $standardDistance - 6;
    font-size: 17px;
    padding: $standardDistance - 5;
    transition: background-color .20s linear;
    a {
        text-decoration: none;
        color: inherit;
    }
    &.btn-horizontal {
        padding-top: $standardDistance - 5;
    }
    // @at-root #{&}--circle {
    //     background-color: transparent;
    //     padding: 0;
    //     font-size: 0;
    // }
}

.btn {
    @at-root #{&}--default {
        @include coloringButtons(#000, #dadfe5, #dadfe5);
    }
    @at-root #{&}--primary {
        @include coloringButtons(#fff, #184b74, #16446a);
    }
    @at-root #{&}--success {
        @include coloringButtons(#fff, #184b74, #16446a);
    }
    @at-root #{&}--info {
        @include coloringButtons(#fff, #12324b, #16446a);
    }
    @at-root #{&}--warning {
        @include coloringButtons(#fff, #184b74, #16446a);
    }
    @at-root #{&}--moving {
        @include coloringButtons(#fff, #184b74, #16446a);
    }
    @at-root #{&}--danger {
        @include coloringButtons(#fff, #184b74, #16446a);
    }
}

.btn {
    @at-root #{&}--lg {
        @include sizingButtons($standPaddingBtn, 12px, 1.3px, 4px);
    }
    @at-root #{&}--sm {
        @include sizingButtons($standPaddingBtn, 12px, 5px, 4px);
    }
    @at-root #{&}-xs {
        @include sizingButtons($standPaddingBtn, 12px, 1.3px, 4px);
    }
}
.btn--default {
    &:hover{
         background-color: #bfbdc1;
    }
}
.btn--big {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover {
        background-color: #999999;
    }
}

.btn-cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    cursor: pointer;
    &:hover {
        background-color: #999999;
    }
}

.btn-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #999999;
        cursor: pointer;
    }
    &.bc--sm {
        font-size: 20px;
    }
}

.btn--circle {
    padding: 5px;
    font-size: 0;
    border-radius: 50%;
    margin-left: 0;
    @at-root #{&}--sm {
        padding: 5px 8px;
        font-size: 11px;
        &:hover {
            background-color: #266fa6;
        }
    }
}

.btnMed {
    padding: 10px 0;
    min-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .25s linear;
}
html[data-useragent*='MSIE 10.0'], html[data-useragent*='rv:11.0'] {
    .btnMed{ height: 30px;}
}
.btn--login {
    @include featureButtons(13px, $colorLogin, 24px);
    transition: all 0.25s;
    width: 70px;
    line-height: 12px;
    &:hover {
        background-color: #6cc1e0;
        span {
            padding-right: 15px;
            .icon-select,
            .icon-expanded {
                opacity: 1;
                right: 0;
            }
            .icon-expanded {
                top: 0px;
            }
        }
    }
    span {
        display: inline-block;
        position: relative;
        transition: 0.25s;
        .icon-select,
        .icon-expanded {
            position: absolute;
            opacity: 0;
            transition: 0.25s;
        }
        .icon-select {
            top: 0;
            right: -20px;
        }
        .icon-expanded {
            top: -10px;
            right: -10px;
        }
    }
}

.btn--login--sm {
    border: solid 1px #fff;
}
.btn--green {
    @include featureButtons(13px, $colorJoin, 24px);
    line-height: 12px;
    &:hover {
        background-color: #00ccb1;
    }
}

.btn--circleIcon {
    @include particularFeatures(#005266, #eef1f3, #C5C9CC);
    border-radius: 50%;
    padding: 0.7em;
    font-size: 25px;
    &:hover {
        background-color: #fff;
    }
    &.active {
        @include particularFeatures(#fff, #248cb3, #054d68);
        &:hover {
            background-color: #3fb0d9;
        }
    }
    &.golden {
        @include particularFeatures(#fff, #908826, #777018);
        &:hover {
            background-color: #c9bd36;
        }
    }
    &.icon-specials {
        color: #d65a77;
    }
}
html[data-useragent*='MSIE 10.0'] .btn--circle {
    p {
       padding-top: 15px;
    }
}
.btn-back-arrow {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    width: 40px;
    padding: ($standardDistance + 2) 0;
    min-width: 2.5em;
    &:hover {
        background-color: #2f8ad0;
    }
}

.btn__title {
    color: #000;
    font-weight: bold;
    font-size: $standardDistance + 2;
    text-transform: capitalize;
    &.sq {
        color: #fff;
        font-size: $standardDistance;
        font-weight: bold;
        margin: 5px 0 0 0;
    }
}

.btn-respons-menu {
    margin: 5px 5px 0 0;
    a {
        color: #fff;
        font-size: $standardDistance * 2.5;
    }
}

#btnHorse,
#btnsVertical {
    display: inline-flex;
}

// #bfbdc1
button.btn.btn--primary {
    border: 0;
    &:hover {
        background-color: #378fd1;
    }
}

.activeBtn {
    background-color: #248cb3;
    color: #fff;
    &:hover {
        background-color: #1d7595 !important;
        color: #fff;
    }
}

.btnTopClass {
    background-color: #01c3fe;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    top: 90%;
    right: 2%;
    padding: 5px 12px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    .icon.arrow-left {
        color: white;
        font-size: 30px;
        font-weight: 700;
    }
    &:focus {
        outline: none;
    }
}

// .view-container {
//     button {
//         &:hover {
//             background-color: #bfbdc1;
//         }
//     }
// }
