.yellow-sq {
    background-color: #f1b849;
    border-radius: 2px;
    border: 1px solid #725010;
    padding: 3px;
    display: inline-block;
    margin-bottom: -1px;
}

.sm-bg {
    font-size: 0.6em;
    padding: $standardDistance - 7;
    span {
        font-size: 1.1em;
        margin-left: $standardDistance - 5;
        font-weight: 800;
    }
    @at-root #{&}--y {
        background-color: #ffd400;
        color: #000;
    }
    @at-root #{&}--b {
        background-color: #184b74;
        color: #fff;
    }
}

.bar-title {
    margin-bottom: 10px;
    padding: 2px 10px;
    p {
        font-size: 17px;
    }
    &.list {
        margin-bottom: 1px;
        &.list--dropDown {
            cursor: pointer;
        }
    }
}

.bar-title.bg-white-100 {
    color: #000;
}
// Modifier
.first--inlist {
    margin-left: 0;
}
.text {
    &.-b {
        color: #000;
    }
}
.capitalLetter {
    text-transform: $capitalizeLetter;
}

.uppercaseLetter {
    text-transform: $uppercaseLetter;
}
// Images
.at-races {
    background-image: url(../img/atr.png);
    background-repeat: no-repeat;
    width: 25%;
    height: 1em;
}
.flag-position {
    margin: 7px;
}
.flags-sprite {
    background-image: url('../../img/flags.png');
    background-repeat: no-repeat;
    padding: 0px 8px;
    font-size: 10px;
}
.flag {
    @at-root #{&}--greece {
        background-position: 0 -22px;
    }
    
    @at-root #{&}--spain {
        background-position: -16px -11px;
    }
}
.blocking {
    display: block;
}
.unblock, .view-container, .badge {
    display: none;
}

.pt-0 {
    padding-top: 0 !important;
}

// Hacer una file para esto, todo esto de eventList
#eventList {
    h4 {
        font-size: 15px;
    }
}

.text-center {
    text-align: center;
}

.letter-spacing-20 {
    letter-spacing: 20px;
}

.badge {
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ffff00;
    border-radius: 10px;
    float: left; // mirar si se puede con fb
}