#slider-img {
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   box-sizing: content-box;
   height: 320px;
   width: 680px;
   margin: 40px auto 0;
   overflow: visible;
   position: relative;
}
#slider-imgWrapper {
   overflow: hidden;
   height: 320px;
}
#slider-img ul {
   margin: 0;
   padding: 0;
   position: relative;
}
#slider-img li {
   box-sizing: content-box;
   width: 680px;
   height: 320px;
   position: absolute;
   left: 680px;
   list-style: none;
}
#slider-img li.firstanimation {
   animation: cycle 25s linear infinite;
}

#slider-img li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#slider-img li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#slider-img li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#slider-img li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}

#slider-img .tipBox {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 75px;
   left: -620px;
}

#slider-img .tipBox h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}
#slider-img .tipBox {
   transition: all 0.3s ease-in-out;
}

#slider-img li#firstCarousel:hover .tipBox, 
#slider-img li#secondCarousel:hover .tipBox, 
#slider-img li#thirdCarousel:hover .tipBox, 
#slider-img li#fourthCarousel:hover .tipBox, 
#slider-img li#fifthCarousel:hover .tipBox {
    left:0px;
}
#slider-img:hover li, 
#slider-img:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}