.panel {
    margin-bottom: 15px;
    display: none;
}

section {
    #defaultOpenOne,
    #defaultOpenPanelOne,
    #defaultOpenPanelTwo,
    #defaultOpenPanelThree,
    #panel-0,
    #container-wrappers-0 {
        display: block;
    }
}
