.scrollContainer {
    height: 50px;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    border-radius: 5px;
}

.scrollContainer ul li {
    color: white;
    position: absolute;
}
.scroll-li{
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    top: -50px;
}
.firstText {
    animation: scroll-top-1 20s linear infinite;
}

.secondText {
    animation: scroll-top-2 20s linear infinite;
}

.thirdText {
    animation: scroll-top-3 20s linear infinite;
}

.fourthText {
    animation: scroll-top-4 20s linear infinite;
}

.scrollContainer:hover li {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}
.typeEffect {
    display: none;
}
.typeEffect.active {
    display: block;
}
.typeEffect-lines {
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    a{
        line-height: 21px;
    }
}
.typeEffectWrapper {
    position: relative;
}