.container-btnMenuIcon {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.accordion {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

section {
    &.accordion {
        transition: 0.3s ease-in-out;
    }
    &.hidding {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
    }
    &.show {
        max-height: 500px;
        opacity: 1;
        transition: opacity max-height 0.3s ease-in-out;
        padding: 10px;
    }
}

.animate-login {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.fadeIn {
    animation: fadeIn 0.5s linear;
    opacity: 1;
}

.fadeOut {
    animation: fadeout 0.5s linear;
}

@keyframes fadeIn {
    from {opacity: 0; top: 95%}
    to {opacity: 1; top: 90%}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0; top: 95%}
    to {opacity: 1; top: 90%}
}

@keyframes fadeout {
    from {opacity: 1; top: 90% }
    to {opacity: 0; top: 95% }
}

@-webkit-keyframes fadeout {
    from {opacity: 1; top: 90% }
    to {opacity: 0; top: 95% }
}
#backTopCall {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    display: block;
}

@keyframes cycle {
   0%  { left: 0px; } 
   4%  { left: 0px; }
   16% { left: 0px; opacity:1; z-index:0; }
   20% { left: -680px; opacity: 0; z-index: 0; }
   21% { left: 680px; opacity: 0; z-index: -1; }
   92% { left: 680px; opacity: 0; z-index: 0; }
   96% { left: 680px; opacity: 0; }
   100%{ left: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { left: 680px; opacity: 0; }
   16% { left: 680px; opacity: 0; }
   20% { left: 0px; opacity: 1; }
   24% { left: 0px; opacity: 1; }
   36% { left: 0px; opacity: 1; z-index: 0; }
   40% { left: -680px; opacity: 0; z-index: 0; }
   41% { left: 680px; opacity: 0; z-index: -1; }
   100%{ left: 680px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { left:  680px; opacity: 0; }
   36% { left:  680px; opacity: 0; }
   40% { left: 0px; opacity: 1; }
   44% { left: 0px; opacity: 1; }
   56% { left: 0px; opacity: 1; }
   60% { left: -680px; opacity: 0; z-index: 0; }
   61% { left:  680px; opacity: 0; z-index: -1; }
   100%{ left:  680px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { left: 680px; opacity: 0; }
   56% { left: 680px; opacity: 0; }
   60% { left: 0px; opacity: 1; }
   64% { left: 0px; opacity: 1; }
   76% { left: 0px; opacity: 1; z-index: 0; }
   80% { left: -680px; opacity: 0; z-index: 0; }
   81% { left: 680px; opacity: 0; z-index: -1; }
   100%{ left: 680px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { left: 680px; opacity: 0; }
   76% { left: 680px; opacity: 0; }
   80% { left: 0px; opacity: 1; }
   84% { left: 0px; opacity: 1; }
   96% { left: 0px; opacity: 1; z-index: 0; }
   100%{ left: -680px; opacity: 0; z-index: 0; }
}
.progress-bar {
   position: relative;
   top: -5px;
   width: 680px;
   height: 5px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}
@keyframes fullexpand {
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}
@keyframes scroll-top-1 {
   0%  { top: 0px; opacity: 0.5;} 
   5%  { top: 0px; opacity: 1;}
   20% { top: 0px; opacity:1; z-index:0; }
   25% { top: -50px; opacity: 0; z-index: 0; }
   26% { top: 50px; opacity: 0; z-index: -1; }
   90% { top: 50px; opacity: 0; z-index: 0; }
   95% { top: 50px; opacity: 0; }
   100%{ top: 0px; opacity: 0.5; }
}
@keyframes scroll-top-2 {
   0%  { top: 50px; opacity: 0;} 
   20% { top: 50px; opacity: 0;}
   25% { top: 0px; opacity: 0.5;}
   30% { top: 0px; opacity: 1;}
   45% { top: 0px; opacity: 1;}
   50% { top: -50px; opacity: 0; z-index: 0; }
   51% { top: 50px; opacity: 0; z-index: -1; }
   100%{ top: 50px; opacity: 0; z-index: -1; }
}
@keyframes scroll-top-3 {
   0%  { top: 50px; } 
   45% { top: 50px; }
   50% { top: 0px; opacity: .5;}
   55% { top: 0px; opacity: 1; }
   70% { top: 0px; opacity: 1; }
   75% { top: -50px; opacity: 0; z-index: 0; }
   76% { top: 50px; opacity: 0; z-index: -1; }
   100%{ top: 50px; opacity: 1; z-index: -1; }
}
@keyframes scroll-top-4 {
   0%  { top: 50px; } 
   70% { top: 50px; }
   75% { top: 0px; opacity: .5; z-index:0; }
   80% { top: 0px; opacity: 1; z-index: 0; }
   95% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: -50px; opacity: 0; z-index: -1;}
}
@keyframes typewriter{
   0% {width: 0;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}