.container-btnMenuIcon {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.accordion {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

section {
    &.accordion {
        transition: 0.3s ease-in-out;
    }
    &.hidding {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
    }
    &.show {
        max-height: 500px;
        opacity: 1;
        transition: opacity max-height 0.3s ease-in-out;
        padding: 10px;
    }
}
