// ==========  Mobile First Method  ==========
@media only screen and (min-width: 320px) and (max-width: 340px) {
    .btn--join {
        margin-left: 5px !important;
    }
    .row--sm {
        padding: 10px 5px !important;
    }
    .flag-position {
        margin-left: 0 !important;
    }
    .slider-img.carouselCss {
        min-height: 205px;
    }
}
@media only screen and (max-width: 300px) {
  .carousel-caption {font-size: 11px}
}
@media only screen and (max-width: 320px) {
    td, th { padding: 10px !important; }
    .table-qualification.table--big {
        td {
            font-size: 19px;
            display: flex !important;
            &:before{
                justify-content: flex-end !important;
                width: 80px !important;
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    td {line-height: 1.2}
}
@media only screen and (min-width: 320px) and (max-width: 569px) {
    .hidden-sm {
        display: none !important;
    }
    .logo-header,
    .logo-bg {
        margin-right: 0 !important;
    }
    .btn--login {
        margin-left: 0 !important;
    }
    #subHeader {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        div:first-child { display: none;}
        &.show {
            max-height: 300px;
            opacity: 1;
            transition: opacity max-height 0.3s ease-in-out;
            div:first-child { display: flex;}
        }
    }
}

@media only screen and (min-width: 640px) {
    .hidden-md {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    #footerContainer {
        .bar-title {
            padding-bottom: 20px;
        }
    }
    .footer-list {
        display: block !important;
        li {
            border-right: none !important;
            &:nth-child(even) {
                float: right;
            }
        }
        li:last-child {
            float: left;
        }
    }
    #footerContainer {
        > div {
            padding: 10px 5px;
        }
    }
    // #subHeader {
    //     max-height: 0;
    //     opacity: 0;
    //     overflow: hidden;
    //     &.show {
    //         max-height: 300px;
    //         opacity: 1;
    //         transition: opacity max-height 0.3s ease-in-out;
    //     }
    // }
    .wrapper-2 {
        background-color: #cccace;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        min-height: 900px;
    }
    .popup-content {
        width: 100% !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    ul {
        overflow-x: scroll;
    }
    .scrollContainer .pos-rel li {
        position: relative !important;
    }
}

// Extra Small Devices, Phones, Apple iPhone 4
@media only screen and (min-width: 480px) and (max-width: 567px) {
    header div:nth-child(2).row {
        margin: 10px 5px;
    }
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .table-qualification.table--big {
        table, thead, tbody, th, td, tr { display: block; }
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr { border: 1px solid #ccc; }
        td { 
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
        
    }
}
@media only screen and (min-width: 360px) and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .table-qualification.table--big {
        td:before { 
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding: 15px; 
            white-space: nowrap;
        }
    }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px)  {
    #bodyContainer {
        padding-bottom: 660px !important;
    }
}

// Small Devices, Phones, Apple iPhone 5/6/6 Plus 
@media only screen and (min-width: 568px) and (max-width: 767px) {}

// Small Devices, Tablets
@media only screen and (min-width: 768px) and (max-width: 959px) {}

// Medium Devices, Desktops
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

// Apple iPad,  Apple iPad Mini, BlackBerry PlayBook
@media only screen and (min-width: 1024px) and (max-width: 1279px) {}

// Large Devices, Wide Screens, Google Neux 10
@media only screen and (min-width: 1280px) {
    .hidden-lg {
        display: none !important;
    }
    .container {
        width: 1170px;
        margin: 0 auto;
    }
    .flex-container-lg {
        display: flex;
    }
    @for $i from 1 through 3 {
        .wrapper-#{$i} {
            width: ($i * 33%) + 1%;
        }
    }.wrapper-2--box {
        width: 67%;
    }
    .wrapper-1, .wrapper-2, .wrapper-2--box {
        margin-right: 1%;
    }
    html[data-useragent*='MSIE 10.0'] .wrapper-2 {
        width: 65%;
    }
}

@media only screen and (min-width: 1350px) {}

// Large Devices, Laptop with HiDPi
@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1441px) {
    .btnTopClass {
        right: 20% !important;
    }
}

@media only screen and (min-width: 1560px) {}
